<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="chaptek" value="https://chaptek.pkgs.visualstudio.com/_packaging/chaptek/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <chaptek>
      <add key="Username" value="chapman@chaptek.net" />
      <add key="ClearTextPassword" value="5ihbilofm2cq2kmqbq3rvbuckiw62hb5vyn4bfkzgorbwcxbwphq" /> 
      <!--This token will expire on the 3/24 and can only read packages. I would assume we would have a secret manegement software for this-->
    </chaptek>
  </packageSourceCredentials>
</configuration>